fastapi==0.112.0
langchain==0.2.12
langchain_community==0.2.11
langchain_core==0.2.28
langchain_openai==0.1.20
langchain_text_splitters==0.2.2
langgraph==0.1.19
langserve==0.2.2
pydantic==1.10.13
python-dotenv==1.0.1
streamlit==1.37.0
typing_extensions==4.12.2
uvicorn==0.30.5
