openai
langchain
python-dotenv
langchain_openai==0.1.21rc2
langchain-text-splitters
langchain-community
faiss-cpu
pydantic

# following are required for Koyeb (and likely other cloud deployments) but will crash langgraph studio for some reason
#langgraph
#pydantic==1.10.13
#sse-starlette